<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.jamruby.runner"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    <uses-feature android:name='android.hardware.telephony' android:required='false'/>
    <uses-feature android:name='android.hardware.touchscreen' android:required='false'/>
    <uses-feature android:name='android.hardware.location' android:required='false'/>
    <uses-feature android:name='android.hardware.location.gps' android:required='false'/>
    <uses-feature android:name='android.hardware.location.network' android:required='false'/>
    <uses-feature android:name='android.hardware.wifi' android:required='false'/>
    <uses-feature android:name='android.hardware.microphone' android:required='false'/>
    <uses-feature android:name='android.hardware.camera' android:required='false'/>
    <uses-feature android:name='android.hardware.camera.autofocus' android:required='false'/>
    <uses-feature android:name='android.hardware.bluetooth' android:required='false'/>
    <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE'/>
    <uses-permission android:name='android.permission.READ_EXTERNAL_STORAGE'/>    
    <uses-permission android:name='com.android.launcher.permission.INSTALL_SHORTCUT'/>
    <uses-permission android:name='android.permission.INTERNET'/>
    <uses-permission android:name='android.permission.ACCESS_FINE_LOCATION'/>
    <uses-permission android:name='android.permission.ACCESS_COARSE_LOCATION'/>
    <uses-permission android:name='android.permission.CALL_PHONE'/>
    <uses-permission android:name='android.permission.SEND_SMS'/>
    <uses-permission android:name='android.permission.VIBRATE'/>
    <uses-permission android:name='android.permission.ACCESS_WIFI_STATE'/>
    <uses-permission android:name='android.permission.CHANGE_WIFI_STATE'/>
    <uses-permission android:name='android.permission.READ_PHONE_STATE'/>
    <uses-permission android:name='android.permission.PERSISTENT_ACTIVITY'/>
    <uses-permission android:name='android.permission.RESTART_PACKAGES'/>
    <uses-permission android:name='android.permission.GET_TASKS'/>
    <uses-permission android:name='android.permission.ACCESS_NETWORK_STATE'/>
    <uses-permission android:name='android.permission.RECORD_AUDIO'/>
    <uses-permission android:name='android.permission.CAMERA'/>
    <uses-permission android:name='android.permission.BLUETOOTH'/>
    
    <application android:label="@string/app_name" 
                 android:debuggable="true"
                 android:icon="@drawable/ic_launcher">
      
        <activity android:name="RunnerActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:label="@string/app_name" android:configChanges="keyboardHidden|orientation|screenSize"
                  android:process="org.jamruby.runner.main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="SpawnedActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:label="@string/app_name" android:configChanges="keyboardHidden|orientation|screenSize"
                  android:taskAffinity="org.jamruby.runner.SpawnedActivity"
                  android:process=":org.jamruby.runner.spawned">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
        <activity android:name="SpawnedCompiledActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                  android:label="@string/app_name" android:configChanges="keyboardHidden|orientation|screenSize"
                  android:taskAffinity="org.jamruby.runner.SpawnedCompiledActivity"
                  android:process=":org.jamruby.runner.spawned_compiled">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>          
    </application>
</manifest>
